$main-text-color: #030;
$main-background-color: #5e4;
$body-font: "Montserrat", sans-serif;
$heading-font: "Baloo", "Cooper Black", "Arial Black", sans-serif;

* {
  font-family: "Montserrat", "Calibri", sans-serif;
  color: $main-text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

html {
  background: $main-background-color;
}

h1 {
  color: $main-text-color;
  text-align: center;
  margin: 0.7em 70px 0.6em 70px;
  z-index: 6;
  position: relative;
}

#timer {
  position: relative;
  width: 300px;
  margin: 5px auto 5px auto;
}

.timerImg {
  width: 300px;
  margin: auto;
}

#pomodoroTimerImg {
  z-index: 1;
  position: relative;  
}

#breakTimerImg {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#cutout {
  width: 330px;
  height: 330px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 3;
}

#timerDisplay {
  font-size: 3em;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  background: rgba(255,255,255,0.5);
  padding: 0 10px 0 10px;
  color: black;
  
  position: absolute;
  top: calc(150px - 0.7em);
  left: 150px;
  transform: translateX(-50%);
  z-index: 4;
}

#startStop {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}

#status {
  font-style: italic;
  text-align: center;
  font-family: $heading-font;
  font-size: 1.2em;
  position: relative;
  z-index: 6;
  margin-top: 0.3em;
}

#controls {
  text-align: center;
  font-size: 1.3em;
  
  input {
    background: rgba(0,0,0,0.1);
    border: none;
    font-size: 1em;
    width: 2em;
    text-align: center;
  }
  
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance:textfield;
  }
  
  input[type=number]::-ms-clear {
    display: none;
  }
  
  .labelInput::after {
    content: "mins";
  }
  
}

#soundControls {
  position: absolute;
  top: 20px;
  left: 20px;
  x-index: 2;
}

#soundMute, #soundOn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

#soundOn {
  opacity: 0;
}
