$main-text-color: #030;
$main-background-color: #5e4;

* {
  font-family: "Montserrat", sans-serif;
  color: $main-text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo", cursive;
}

html {
  background: $main-background-color;
}

h1 {
  color: $main-text-color;
  text-align: center;
}

#timer {
  position: relative;
  width: 300px;
  margin: 5px auto 5px auto;
  cursor: pointer;
}

.timerImg {
  width: 300px;
  margin: auto;
}

#pomodoroTimerImg {
  z-index: -2;
  position: relative;
}

#breakTimerImg {
  z-index: -1;
  position: absolute;
  top: 0;
  opacity: 0;
}

#cutout {
  width: 330px;
  height: 330px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 0;
}

#timerDisplay {
  font-size: 3em;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  background: rgba(255,255,255,0.5);
  padding: 0 10px 0 10px;
  color: black;
  
  position: absolute;
  top: calc(150px - 0.7em);
  left: 150px;
  transform: translateX(-50%);
  z-index: 1;
}

#status {
  font-style: italic;
  text-align: center;
  font-family: 'Baloo', cursive;
  font-size: 1.2em;
  position: relative;
  z-index: 1;
}

#controls {
  text-align: center;
  font-size: 1.3em;
  
  input {
    background: rgba(0,0,0,0.1);
    border: none;
    font-size: 1em;
    width: 2em;
    text-align: center;
  }
  
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0;
    }
  
  input[type=number]::-ms-clear {
    display: none;
  }
  
  .labelInput::after {
    content: "mins";
  }
  
}
